* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  background: #ffd48c;
  border-bottom: 0.5rem solid #cc7929;
}

nav.fade-in {
  background: #cc7929;
}

.logo {
  color: #cc7929;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 2.4rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #cc7929;
  text-decoration: none;
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
}
.text-fade-in {
  color: #ffd48c !important;
}
.background-fade-in {
  background: #ffd48c !important;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 2.5rem;
  margin: 0.5rem;
  height: 0.3rem;
  background: #cc7929;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    width: 100vw;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background: #ffd48c;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links-dark {
    background: #cc7929;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-0.5rem, 0.6rem);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-0.5rem, -0.6rem);
}
