/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

h1 {
  margin: 2.5rem;
}
#pig-game {
  background: url("../img/pig-game.jpg") no-repeat center;
  background-size: cover;
}
#project-one {
  background: url("../img/project-one.jpg") no-repeat center;
  background-size: cover;
}
#mineX {
  background: url("../img/mineX.jpg") no-repeat center;
  background-size: cover;
}
.projects {
  margin: 0 auto;
  padding: 1.5rem;
}
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.2rem;
  margin: 2.5rem 0;
  padding-top: 1rem;
  border-top: 0.25rem solid #193441;
}
.project-sample {
  padding: 0.5rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #91aab4;
}
.project-img {
  max-width: 50rem;
  height: auto;
  width: 40rem;
  min-height: 35rem;
}
.skills-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}
.skill {
  padding: 0.5rem 1.5rem;
}
.description {
  padding: 0.5rem 0;
}
@media screen and (max-width: 60rem) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .project-sample {
    margin: 1.5rem;
  }
  .project-img {
    margin: 1.5rem;
  }
}
@media screen and (max-width: 40rem) {
  .project-img {
    max-width: 40rem;
  }
}
@media screen and (max-width: 30rem) {
  .project-img {
    max-width: 80%;
  }
}
