/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

html {
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100%;
}
body {
  background: rgba(242, 242, 242, 1);
  min-height: 100vh;
}
h3 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #bf6860;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
#about-banner,
#project-banner,
#contact-banner {
  padding-top: 8vh;
}
.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.banner-title {
  font-size: 10rem;
  text-align: center;
  font-family: "Noto Serif", serif;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(60%, rgba(115, 115, 115, 1)),
    color-stop(75%, rgba(191, 104, 96, 1))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(115, 115, 115, 1) 60%,
    rgba(191, 104, 96, 1) 75%
  );
  background-image: linear-gradient(
    180deg,
    rgba(115, 115, 115, 1) 60%,
    rgba(191, 104, 96, 1) 75%
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.banner-text {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.banner-resources {
  font-size: 2.4rem;
  margin: 2rem;
}
.banner-resources a {
  margin: 1rem;
  color: #bf6860;
  background: #bfbfbf;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.banner-resources a:hover {
  background: #737373;
  color: #f2f2f2;
}
footer {
  max-height: 12vh;
}
.footer-text {
  padding: 2.5rem;
  text-align: center;
  background: #737373;
}
.icon {
  font-size: 2.4rem;
  margin: 1rem;
  color: #bf6860;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.icon:hover {
  color: #f2f2f2;
}
.footer-text span {
  font-size: 1.8rem;
  color: #f2f2f2;
}

@media screen and (min-width: 160rem) {
  .banner-title {
    font-size: 20rem;
  }
  .banner-text {
    font-size: 6rem;
  }
  .banner-resources a {
    font-size: 4rem;
  }
  .icon {
    font-size: 4rem;
  }
  .footer-text span {
    font-size: 4rem;
  }
}
@media screen and (max-width: 60rem) {
  .banner-title {
    font-size: 8rem;
  }
  .banner-resources a {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 40rem) {
  .banner-title {
    font-size: 6rem;
  }
  .banner-text {
    font-size: 2.5rem;
  }
}
